@use '../../scss/' as *;

.navbar-flex {
    position: fixed;
    top: 0;
    min-width: 100vw;
    z-index: 100;
    background-color: $body-bg;

    @include flex(row, space-between, center);
    height: $header-shrink-height;
    padding-inline: 10rem;

    .logo {
        width: auto;
        max-width: 100%;
        max-height: 80px;
        align-self: center;
    }

    ul {
        list-style: none;
        li {
            display: inline;
            padding-inline: 1rem;
            font-size: $small-text-size;
        }
    }

    .social-nav-icons > i {
        padding-inline: 1.3rem;
        height: 30px;
        width: 40px;
    }

    .burger div {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px;
        transition: all 0.3s ease;
    }

    .burger {
        display: none;
    }

    .toggle {
        .line1 {
            transform: rotate(-45deg) translate(-5px, 6px);
        }

        .line2 {
            opacity: 0;
        }

        .line3 {
            transform: rotate(45deg) translate(-5px, -6px);
        }
    }

    .mobile-nav-flex {
        @include flex(row, space-between, center);
    }

    @include tablet {
        padding-inline: 2rem;
        height: $header-height;

        ul,
        .social-nav-icons {
            display: none;
        }

        .burger {
            display: block;
        }
    }
}
