@use '../../scss/' as *;

.footer-wrap {
    &:before {
        content: '';
        margin-block: 0 2rem;
        height: 100px;
        min-width: 100vw;
        background-color: white;
    }

    margin-block: $section-padding;
    padding: 0 10rem;
    @include flex(row, space-evenly, center, 4rem, 4rem);
    flex-wrap: wrap;

    img {
        height: 150px;
        width: 150px;
        align-self: center;
    }

    h4 {
        font-size: 22px;
        font-weight: 700;
        margin: 0 20px;
        text-align: center;
        text-transform: uppercase;
    }

    p {
        margin-top: 20px;
        font-size: $small-text-size;
        text-align: center;
    }

    i {
        margin-top: 18px;
    }

    .social-links {
        @include flex(row, center, center, 10px, 0);
    }
}
