@use '../../scss/' as *;

.dev-team-wrap {
    margin: $section-padding 0;

    h1 {
        @include heading-text;
    }

    .dev-team-cards-wrap {
        @include flex(row, center, center);
        column-gap: 2rem;
        row-gap: 2rem;
        flex-wrap: wrap;
        width: 85%;
        margin: 5rem auto;

        .single-dev-card {
            @include flex(column, flex-start, center);
            flex: 0 1 350px;

            align-self: flex-start;

            p {
                font-size: $small-text-size;
                margin-top: 15px;
            }

            img {
                width: clamp(350px, 1vw, 350px);
                height: clamp(350px, 1vw, 350px);
                object-position: 50% 50%;
                object-fit: cover;
            }

            @include tablet {
                flex: 0 1 260px;

                img {
                    width: clamp(260px, 1vw, 260px);
                    height: clamp(260px, 1vw, 260px);
                }
            }

            @include mobile {
                width: 95%;

                flex: 0 1 180px;

                img {
                    width: clamp(180px, 1vw, 180px);
                    height: clamp(180px, 1vw, 180px);
                }
            }
        }

        @include mobile {
            row-gap: 4rem;
            column-gap: 4rem;
        }
    }
}
