$body-bg: #000;
$txt-color: #fff;

$small-text-size: 14px;
$heading-text-size: clamp(4.2rem, 1vw, 8rem);
$normal-text-size: clamp(1.35rem, 1vw, 7rem);

$normal-text-style: italic;
$heading-text-style: lighter;

$white: #fff;
$black: #000;

$section-padding: 7rem;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 10rem;
$header-shrink-height: 7rem;
$border-radius: 16px 0px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: 'Montserrat', sans-serif;
$font-family-osake: 'Osake';
